<section>
    <div class="container mt-4">

        <h2 class="text-center">Edit Product</h2>
       <form action="/admin/edit-product/{{product._id}}"method="POST" enctype="multipart/form-data">
        <div class="form-group">
                <label for="">NO:</label>
                <input type="text" name="No" class="form-control"value="{{product.No}}" id="no" placeholder="Enter the product no:">
            </div>
            <div class="form-group">
                <label for="">Name:</label>
                <input type="text" name="Name" class="form-control"value="{{product.Name}}" id="name" placeholder="Enter Product Name">
            </div>
            <div class="form-group">
                <label for="">Description:</label>
                <textarea  name="Description" class="form-control"value="{{product.Description}}" id="description" rows="3" placeholder="Enter Description"></textarea>
            </div>
            <div class="form-group">
                <label for="">Category:</label>
                <input type="text" name="Category" class="form-control" value="{{product.Category}}"  id="category" placeholder="Enter Category">
            </div>
            <div class="form-group">
                <label for="">Price:</label>
                <input type="number" name="Price" class="form-control" value="{{product.Price}}" id="price" placeholder="Enter Price">
            </div>
            <div class="form-group">
                <label for="">Image:</label>
                <img src="/products-images/{{product._id}}.jpg" alt="" style="width: 100px;height:auto" id="imgView">
                <input type="file" name="Image" class="form-control-file" id="image" onchange="ViewImage(event)">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>


    </div>
</section>
<script>
    function ViewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>